
# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
jspm_packages

# Only keep yarn.lock in the root
package-lock.json
*/**/yarn.lock

# Editors
.idea
*.iml

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# Ignore built ts files
dist

# Logging files
*.log

# Nuxt
.nuxt*
.cache
